.menu-pane {
    --img-width: 7rem;
    display: grid;
    /* background-color: #f5deb3; */
    width: calc(100% - 18rem);
    justify-content: center;
    align-content: baseline;
    overflow: scroll;
    padding-bottom: 1rem;

    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 10%, rgba(245, 222, 179, 0.7) 30%, rgba(245, 222, 179, 1) 50%, rgba(245, 222, 179, 0.7) 70%, rgba(0, 0, 0, 0) 90%);
}

.category {
    display: grid;
    gap: 1rem;
    /* opacity: 0.6; */
}

.category:hover {
    opacity: 1;
}

.category-name {
    font-family: 'Eagle Lake', cursive;
    position: relative;
    font-size: 3rem;
}

.category-name::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: .4rem;
    background-color: var(--link-color);
    bottom: 0;
    right: 0;
}

.category-name::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: .4rem;
    background-color: var(--main-color);
    bottom: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform 300ms linear;
    transform-origin: bottom left;
}

.category:hover>.category-name::after {
    transform: scaleX(1);
}

.choose-reservation {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

/* Summary */
.total-price {
    text-align: center;
    font-size: 2rem;
    border-block: .1rem gray solid;
    margin-block: 1rem;
}

.price::after {
    content: '€';
}



/* switch button start */
.choose-reservation-switch-block {
    display: grid;
    grid-auto-flow: column;
}

.choose-reservation-text {
    margin-right: 1rem;
    margin-block: auto;
}

.choose-reservation-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.choose-reservation-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--main-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--main-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* switch button end */

.button-complete {
    position: fixed;
    bottom: 0;
    width: auto;
    left: 53%;
    align-self: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;

    background-color: var(--main-color);
    color: var(--secondary-color);
    border: .1rem solid var(--main-color) ;
    /* outline: .1rem solid var(--secondary-color); */
    /* outline-offset: .2rem; */
    padding-inline: .5rem;
    border-radius: 10rem;

    transition: all .2s ease-in;
}


.button-complete:hover {
    transform: scale(1.1);
    cursor: pointer;

    background-color: var(--secondary-color);
    color: var(--main-color);
    border-color: var(--main-color) ;
}

.background-img {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("https://images.squarespace-cdn.com/content/v1/596fd9989f7456d6bbc11ad1/1582761721802-BJIJB642RRTJ7MOCHTE5/Formosa1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 8rem;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    z-index: -100;
}