.order {
    display: grid;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    float: right;
    margin-right: 5rem;
    margin-bottom: 5rem;
}

.overlay {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    border: 0.1rem white solid;
    outline: 0.1rem black solid;
    transition: .5s ease transform;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Freer_SacklerDSCF8044.JPG/1218px-Freer_SacklerDSCF8044.JPG");
    background-size: cover;
    height: 4rem;
    width: 4rem;
    border-radius: 5rem;
}

.overlay:hover {
    cursor: pointer;
    user-select: none;
    transform: scale(1.1);
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}