<table>
    <tr>
        <th>id</th>
        <th>user_id</th>
        <th>cost</th>
        <th>items</th>
        <!-- <th>created_at</th> -->
        <th>delete</th>
    </tr>
    <tr *ngFor="let order of orders">
        <td class="cell">{{order.order_id}}</td>
        <td class="cell">{{order.user_id}}</td>
        <td class="cell">{{order.cost}}</td>
        <td class="cell">{{order.items.length}}</td>
        <td class="delete">
            <img id="bin_order{{order.order_id}}" class="img" src="https://cdn-icons-png.flaticon.com/512/9790/9790368.png"
                alt="" (click)="deleteCheck(order.order_id,'order')">
            <img id="yes_order{{order.order_id}}" class="img" src="https://cdn-icons-png.flaticon.com/512/5610/5610944.png"
                alt="" (click)="deleteOrder(order.order_id,'order')" hidden>
            <img id="no_order{{order.order_id}}" class="img" src="https://cdn-icons-png.flaticon.com/512/5974/5974771.png"
                alt="" (click)="showBin(order.order_id,'order')" hidden>
        </td>
    </tr>
</table>