<div class="background">

    <div class="sidebar-top">
        <div class="logo"></div>
        <div id="time">{{open_hours}}</div>
    </div>

    <div class="nav-bar">
        <div (click)="swapper('home')" class="nav-bar-link">Home</div>
        <div (click)="swapper('menu')" class="nav-bar-link">Menu</div>
        <!-- <div (click)="swapper('delivery')" class="nav-bar-link">Delivery</div> -->
        <div (click)="swapper('reservation')" class="nav-bar-link">Reservation</div>
        <div (click)="swapper('about')" class="nav-bar-link">About</div>
    </div>

    <div class="background-img">
    </div>
</div>