.home-panel {
    background-image: url("https://images.squarespace-cdn.com/content/v1/596fd9989f7456d6bbc11ad1/1582582081228-P0QCXXEM7P606OE2XIBO/The+Formosa+Cafe+1.jpg?format=2500w");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 10rem;
    background-position-y: -10rem;
}

.menu {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/17/Luk_Yu_Tea_House_Level_2_feature_wall_2017.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 8rem;
    height: 100%;
    width: 100%;

    z-index: -1;
}

.main-panel {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;

    z-index: -1;
}

.main-panel-center {
    display: grid;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    margin-left: 12rem;
    z-index: -1;
}

.reservation{
    background:  url(https://images.squarespace-cdn.com/content/v1/596fd9989f7456d6bbc11ad1/1582582081228-P0QCXXEM7P606OE2XIBO/The+Formosa+Cafe+1.jpg?format=2500w);
    background-position-x: 40%;
    background-size: cover;
}

.admin {
    background: rgb(46, 46, 46);
}