/* You can add global styles to this file, and also import other style files */
:root {
    /* Light Theme */
    --main-color: #E02401;
    --secondary-color: #F78812;
    --link-color: #AB6D23;
    --text-color: #51050F;

    /* Dark Theme 
    --main-color: #040303;
    --secondary-color: #461111;
    --link-color: #A13333;
    --text-color: #B3541E;*/
}


body, html {
    margin: 0;
    padding: 0;
}