<div class="about-panel">
    <div class="about-box first">
        <div class="about-paragraph">
        <div class="logo"></div>
    </div>
    </div>
    <div class="about-box">
        <div class="about-paragraph">
            <div class="about-text">
                Welcome to Lanjun restaurant! Our restaurant offers a variety of authentic Asian dishes,
                including Chinese,
                Japanese, and Thai cuisine. Our chefs are skilled in the art of creating delicious, traditional dishes
                using
                only the freshest ingredients.
            </div>
        </div>
    </div>
    <div class="about-box ">
        <div class="about-paragraph">
            <div class="about-text justify-left">
                We pride ourselves on the quality of our food and the warm, friendly atmosphere of our restaurant. Our
                staff
                is
                dedicated to providing excellent service and ensuring that your dining experience is truly
                unforgettable.
            </div>
        </div>
    </div>

    <div class="about-box ">
        <div class="about-paragraph">
            <div class="about-text justify-right">
                We offer a wide range of dishes to suit every palate, from light and healthy salads to hearty,
                satisfying
                entrees. Whether you're a fan of spicy food or prefer milder flavors, you'll find something to love on
                our
                menu.
            </div>
        </div>
    </div>

    <div class="about-box">
        <div class="about-paragraph">
            <div class="about-text justify-left">
                In addition to our regular menu, we also offer a selection of daily specials and seasonal dishes. Be
                sure to
                ask
                your server about these special items.
            </div>
        </div>
    </div>

    <div class="about-box">
        <div class="about-paragraph">
            <div class="about-text justify-right">
                We look forward to welcoming you to our restaurant and sharing the flavors of Asia with you. Thank you
                for
                considering us for your dining needs.
            </div>
        </div>
    </div>
</div>