.container {
    --radius: 1rem;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    border-radius: calc(var(--radius) + var(--radius));

    font-size: 1.5rem;
}

.button {
    height: 100%;
    width: 2rem;
    opacity: 0.8;
    border: .1rem solid black;
    user-select: none;
}

.button:hover {
    cursor: pointer;
    opacity: 1;
}

.add {
    border-radius: 0 var(--radius) var(--radius) 0;
    background-color: aquamarine;
    color: green;
}

.remove {
    border-radius: var(--radius) 0 0 var(--radius);
    ;
    background-color: brown;
    color: red;
}

.inactive {
    background-color: rgb(190, 190, 190);
    color: rgb(190, 190, 190);
}

.inactive:hover {
    opacity: 0.8; /* remain the same */
    cursor: default;
}

.quantity {
    height: 100%;
    border-block: .1rem solid black;
    padding-inline: .5rem;

    user-select: none;
}